*{
  margin: 0;
  padding: 0;
}

nav {

  overflow: hidden;
  background-color: #04580b;
  position: relative;
  top:0;
  width: 100%;
  padding: 10px;

}


.navLinks {
text-align: center;
color: white;

}



/* .navLinks a:hover {

  color: rgb(8, 110, 110);
  text-decoration: none;
  transform: translateY(-3px);
} */

nav a.active {
  /* text-decoration: underline;
  color: rgb(79, 107, 107); */
  /* background-color: #5e5b5b; */
  color: rgb(255, 255, 255);
  text-decoration: 4px underline rgb(4, 57, 19);

}



/* =====================Nav details section ========================= */



.navDetails {
width: 100%;
background-color: #ffffff;
overflow: auto;
top:48px;
padding: 5px;
}

.navDetails p {
float: left;
color: rgb(8, 110, 110);
text-decoration: none;
font-size: 15px;
width: 25%; /*divides the width in 4 equal parts*/
text-align: center;
margin: 2px;
display: block;
}

.cardIcon{
  font-size: 12px;
}

/*==============media query  ===================== */

@media screen and (max-width: 990px) {

}

@media screen and (max-width: 770px){
  .navLinks h1{
    color: white;
    font-size: 20px;
    text-align: center;
  }
   .cardIcon  {
    margin-right: 5px;
  }

  .navDetails p {
    color: rgb(8, 110, 110);
    text-decoration: none;
    font-size: 10px;
    width: 100%;
    text-align: center;
    margin: 2px;

  }
}


