



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo {
  color: white;
  background-color: white;
  width: 10%;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
  border: 1px solid rgb(77, 76, 76);

}

.App-logo:hover{
box-shadow: 0 4px 8px 0 rgba(2, 76, 28, 0.2),
0 6px 20px 0 rgba(2, 90, 6, 0.19);
width: 12%;
}

.App-header {
  background-color: #2a2d35;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1{
  font-size: 70px;
}

h1, h2, h3, p{
  margin-top: 20px;
}
